---
import { SEO } from "astro-seo";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description="A simple website to download Rust crates from crates.io"
      charset="UTF-8"
      openGraph={{
        basic: {
          type: "website",
          title: "Crates Downloader - a simple website to download Rust crates",
          image: "https://cratesdownloader.xyz/og.png",
          url: "https://cratesdownloader.xyz",
        },
        optional: {
          description:
            "A simple website to download Rust crates from crates.io",
        },
        image: {
          alt: "Crates Downloader logo, a crab emoji",
        },
      }}
      twitter={{
        creator: "@agustin_aon",
        title: "Crates Downloader",
        description: "A simple website to download Rust crates from crates.io",
        image: "https://cratesdownloader.xyz/og.png",
        imageAlt: "Crates Downloader logo, a crab emoji",
        card: "summary",
      }}
      extend={{
        meta: [{ name: "viewport", content: "width=device-width" }],
        link: [
          { rel: "icon", type: "image/svg+xml", href: "/favicon.ico" },
          { rel: "stylesheet", href: "/css/pico.min.css" },
        ],
      }}
    />
    <script type="text/javascript">
      new Image().src =
        "https://nullitics.com/n.gif?u=" +
        encodeURI(location.href) +
        "&r=" +
        encodeURI(document.referrer) +
        "&d=" +
        screen.width;
    </script>
    <noscript><img src="https://nullitics.com/n.gif" /></noscript>
  </head>
  <body>
    <slot />
    <footer class="container">
      <hr />
      <small>
        Built by <a
          href="https://github.com/aon"
          id="github-personal"
          target="_blank"
          rel="noopener">aon</a
        > •
        <a
          href="https://github.com/aon/crates-downloader"
          id="github-repo"
          target="_blank"
          rel="noopener">Source code</a
        >
      </small>
    </footer>

    <style>
      body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }
    </style>
    <style is:global>
      h1 a:link {
        text-decoration: none;
      }
    </style>
    <script>
      import { trackPersonalGithub, trackRepoGithub } from "../utils/analytics";

      const githubPersonal = document.getElementById("github-personal");
      githubPersonal?.addEventListener("click", trackPersonalGithub);

      const githubRepo = document.getElementById("github-repo");
      githubRepo?.addEventListener("click", trackRepoGithub);
    </script>
  </body>
</html>
