---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/css/pico.min.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <footer class="container">
      <hr />
      <small>
        Built by <a href="https://github.com/aon">aon</a> • <a
          href="https://github.com/aon/crates-downloader">Source code</a
        >
      </small>
    </footer>
  </body>
</html>
<style>
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
</style>
<style is:global>
  h1 a:link {
    text-decoration: none;
  }
</style>
